// $color1: #6988E3;
// $color2: #95BEF6;
// $color3: #C3DFFF;
// $color4: #B6D4F6;
// $color5: #B7D9F4;

$color0: #FFFFFF;
$color1: #515151;
$color2: #1A82F7;
$color3: #E1E4E9;
$color4: #F6F6F8;

$text: #333333;

@mixin social-icons {
	height: 64px;
	width: 64px;
	float: left;
	padding: 0 16px 0 16px;
}

@mixin hr-border-bottom {
	border-bottom: 1px solid $color1;
}

body {
	// background-color: $color4;
	background-color: #2A7CBE;
	// background-image: -webkit-linear-gradient(top,#308CCB,#2A7CBE);
}

.wrap {
	width: 100%;
}

.wrap.about-container {
	font-family: 'Varela';
	// font-size: 20px;
	line-height: 1;
	// @include hr-border-bottom;
	padding: 5em 0 2.5em 0;
	color: $color0;
	background-color: $color0;
	background-image: -webkit-linear-gradient(top,#308CCB,#2A7CBE);
}

.wrap.social-container {
	background-color: $color0;
	padding: 0 0 3em 0;
	@include hr-border-bottom;
	.social {
		width: 192px;
		margin: 0 auto;
		.facebook {
			@include social-icons;
			background: url('/icons/roundblack64/facebook.png') no-repeat left center;
		}
		.mail {
			@include social-icons;
			background: url('/icons/roundblack64/tumblr.png') no-repeat left center;
		}
	}
}

.wrap.top-container {
	-webkit-box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	@include hr-border-bottom;
	background-color: $color2;
	background-image: -webkit-linear-gradient(top,#308CCB,#2A7CBE);
	background-image: -moz-linear-gradient(center top , #308CCB, #2A7CBE);
	color: $color0;
	position: fixed;
	top: 0;
	.top-bar {
		padding: 0.5em 0 0.5em 0;
		h3 {
			font-family: 'Lemon';
			margin: 0.1em 0 0.1em 0;
		}
	}
	.social {
		.facebook {
			@include social-icons;
			background: url('/icons/square/facebook.png') no-repeat left center;
		}
		.mail {
			@include social-icons;
			background: url('/icons/square/mail.png') no-repeat left center;
		}
	}
}

.announcement-container {
	padding: 11em 0 7em 0;
	background-color: $color0;
	// @include hr-border-bottom;
	// border-top: 1px solid $color3;
	color: $text;
	.announcement {
		h1 {
			margin: 0 0 0.7em 0;
			font-size: 72px;
			line-height: 1;
			.logo {
				// font-family: 'Lemon';
			}
		}
		.input-append {
			text-align: center;
			input {
				// font-size: 25px;
				// height: 1em;
			}
		}
		.lead {
			margin: 0 0 1.5em 0;
		}
	}
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
	.container {
		padding: 2em;
	}
}