<div class="wrap top-container">
	<div class="container">
		<div class="row-fluid top-bar">
			<div class="span9">
				<h3>PlazR.</h3>
			</div>
			<div class="span3">
				<div class="social pull-right">
					<div class="facebook"></div>
					<div class="mail"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrap announcement-container">
	<div class="container">
		<div class="row-fluid announcement">
			<div class="span12">
				<div class="row-fluid">
					<div class="span12">
						<h1>Announcement<br> Like a Boss</h1>
					</div>
				</div>
				<div class="row-fluid">
					<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
					<p class="input-append">
						<div class="input-append">
							<input type="email" class="input-large" placeholder="me@me.com">
							<button type="submit" class="btn btn-primary">Subscribe</button>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrap about-container">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<p>What we give you?</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8 offset2">
				<p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
				<p class="lead">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</p>
			</div>
		</div>
	</div>
</div>