<div class="wrap top-container">
	<div class="container">
		<div class="row-fluid top-bar">
			<div class="span8">
				<h3>Plazr</h3>
			</div>
			<ul class="navigation pull-right">
				<a href="#"><li>Facebook</li></a>
				<a href="#"><li>Blog</li></a>
			</ul>
		</div>
	</div>
</div>

<div class="wrap announcement-container">
	<div class="container">
		<div class="row-fluid announcement">
			<div class="span12">
				<div class="row-fluid">
					<div class="span12">
						<h1><span class="logo">Plazr </span><small>A Simplificar o Comércio Online</small></h1>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span10 offset2">
						<p class="lead">Plazr é um projeto inovador que simplifica a criação e manutenção de lojas online.</p>
					</div>
				</div>
				<div class="row-fluid">
					<p>
						<div class="input-append">
							<input id="subscribe-email" required type="email" class="input-large" placeholder="me@me.com">
							<button id="subscribe" type="submit" class="btn btn-primary">Subscrever</button>
						</div>
					</p>
					<p id="subscribe-suggestion" class="muted">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrap about-container">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h2 class="head">O que é o Plazr?</h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10 offset2">
				<p class="lead">O Plazr é uma plataforma de comércio onine ao alcance de todos.</p>
				<p class="lead">O Plazr permite a criação de lojas online sem preocupações de alojamento ou grande configuração.</p>
				<p class="lead">A ideia do Plazr é simpificar a transição de comércio para o mundo digital.</p>
			</div>
		</div>
	</div>
</div>

<div class="wrap we-container">
	<div class="container">
		<div class="row-fluid">
			<h2 class="head">Como surgiu o Plazr?</h2>
		</div>
		<div class="row-fluid">
			<div class="span10 offset2">
			<p class="lead">O Plazr é um projeto curricular da Universidade do Minho.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10 offset2">
			<p class="lead">O Plazr é da autoria de uma equipa de 19 alunos.</p>
			</div>
		</div>
	</div>
</div>