<div class="wrapper">
  <img class="logo" src="/images/logo.png" alt="VentureDeck">

  <h1>Discover a new world of opportunities for your Startup.</h1>
  <p>VentureDeck is a collaborative platform that enables you to discover new projects for your startup or find partners to join your own.</p>
  <p>We're working hard in the development of the beta version, and if you submit your email below, we'll keep you updated. Stay tuned!</p>

  <form id="newsletter" action="/newsletter" method="post">
    <input type="email" name="email" placeholder="Your email" required>
    <button type="submit">Submit</button>
  </form>

  <section class="social-media">
    <a class="facebook icon" href="http://www.facebook.com/venturedeck">Facebook</a>
    <a class="twitter icon" href="https://twitter.com/venturedeck">Twitter</a>
  </section>
</div>