<div class="container">
  <div class="row-fluid">
    <h3 class="muted">PlazR.</h3>
  </div>
  <hr>
  <div class="row-fluid announcement">
  	<h1>Announcement<br> Like a Boss</h1>
  	<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
  	<p class="input-append">
  		<input class="input-xlarge" id="focusedInput" type="text" placeholder="Subscribe to our newsletter...">
  		<button type="submit" class="btn btn-primary">Subscribe</button>
  	</p>
  </div>
  <hr>
  <div class="row-fluid">
    <p>@plazr</p>
  </div>
</div>